* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

  
/* barra de nav */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    background-color: #b4f0ea;
}
/* logo del nav */
.logo img {
    height: 40px;
}
/* inicio, prod, nos, carrito items position*/
.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
}
/* dejar a la derecha items */
.nav-links li {
    margin-right: 20px;
}
/* color fuente, negrita de items */
.nav-links li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}
/* hover de prods */
.nav-links li a:hover {
    color: #2dd0ed;
    border-bottom: 2px solid black;
}

/* dropdown de prods */
.dropdown {
    position: relative;
}
/* contenido del drop */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    z-index: 1001;
}
/* style del contenido del drop */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* hover drop */
.dropdown-content a:hover {
    background-color: #b4f0ea;
}
/* display en bloque del drop */
.dropdown:hover .dropdown-content {
    display: block;
}

/* logo */
.logo {
    height: 70px;
    width: auto;
}

.logo img {
    height: auto;
    width: 70px;
}

/* product Cards */
.card {
    /* border: 2px solid black; */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 33%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.15s;
}

.card img {
    max-width: 90%;
    height: auto;
    margin-bottom: 10px;
    width: 510px;
}
.card p{
    max-width: 90%;
}
.agregar-carrito button{
    background-color: red;
}
.card:hover{
    box-shadow: 1px 3px 3px 3px #b4f0ea;
    transform: scale(1.1);
}

/* description Button */
/* .descripcion-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #b4f0ea;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */

/* .descripcion-btn:hover {
    background-color: #2dd0ed;
}

/* description Dropdown */
/* .dropdown-descripcion {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
} */ 

/* .dropdown-descripcion.show {
    display: block;
} */

/* agregar carrito botonnnn */
.agregar-carrito {
    background-color: #b4f0ea;
    color: #2dd0ed;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 10px;
    
}

.agregar-carrito img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 1px;
    
    display: inline-flex;
    align-items: center;

}

.agregar-carrito:hover {
    background-color: #2dd0ed;
}
#contenedor-productos{
    margin-top: 120px;
}
/* contenedor de productos */
.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centramos horizontalmente las tarjetas */
    align-items: center; /* Centramos verticalmente las tarjetas */
    padding: 20px;
    margin: 0 auto; /* Alineamos el contenedor centralmente */
    max-width: 1200px; /* Limitamos el ancho máximo */
}

.card {
    width: 23rem;
    height: 45rem;
    margin-bottom: 10%;
    margin-top: 10%;
    padding-top: 1rem;

}
/* clase del boton plusmath */
.plusMath{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: auto;
}
/* carrito */
.carrito-nav {
    margin-right: 20px;
}

.carrito-nav a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.carrito-nav a:hover {
    color: #2dd0ed;
    border-bottom: 2px solid black;
}

/* .footer-links li {

} */

.carrito-container {
    display: flex;
    position: fixed;
    margin-top: -34px; /* altura del navbar */
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: #f9f9f9;
    border-left: 1px solid #ccc;
    overflow-y: auto;
}
.carrito-container ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carrito-container ul li a {
    margin-left: auto;
}
.carrito-card {
    padding: 10px;
}
/* cerrar objeto de carrit */
.carrito-container li a {
    background-color: #f05663;
    padding: 5px;
    display: inline-flex;
    border-radius: 5px;
}
.carrito-container h3{
    width: 100%;
    text-align: center;
}

.carrito-container li a:hover {
    background-color: #f03040;
}

footer {
    position: sticky; 
    width: 100%; 
    background-color: #b4f0ea;
    color: black; 
    padding: 20px; 
    box-sizing: border-box; 
}
/* Ajustes para el aside del carrito */
.carrito-container {
    position: fixed;
    /* altura navbar */
    top: 110px;
    right: 0;
    bottom: 0;
    width: 300px;
    background-color: #f9f9f9;
    border-left: 1px solid #ccc; /*separar del contenido principal */
    overflow-y: auto; /*desplazamiento vertical */
}
/* descript carrito */
.carrito-container p {
    padding: 20px;
    margin: 0; 
}
/* lista del carrito */
.carrito-container ul {
    padding: 0 20px; 
    margin: 0; 
}

/* main container */
.contenedor-central {
        margin: 0 auto; 
        max-width: 1200px; 
        padding: 0 20px; 
        box-sizing: border-box; 
  
}

/* ajustes de navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    background-color: #b4f0ea;
}
.productos-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /*elementos en linea*/
    text-align: center;
}


